.footer-info
{
	&__number
	{
		display: inline-block;
		font-family: @font-main-bold;
		font-size: @font-sz-l;
		color: @clr-theme;
		margin-bottom: @rem * 15;
		&:hover
		{
			text-decoration: underline;
		}
	}
	&__shedule
	{
		font-size: @font-sz-m;
		line-height: @rem * 24;
		margin-bottom: @rem * 20;
		max-width: 60%;
		@media @max-768
		{
			margin: 0 auto @rem * 20;
		}
	}
	&__support
	{
		display: inline-block;
		font-family: @font-main-bold;
		font-size: @font-sz-s;
		color: @clr-theme;
		margin-bottom: @rem * 30;
		&:hover
		{
			text-decoration: underline;
		}
	}
}
.footer-nav
{
	display: flex;
	justify-content: space-between;
	&__item
	{
		max-width: @rem * 200;
		margin-left: @rem * 50;
		&:first-child
		{
			margin-left: 0;
		}
	}
}
.footer-nav-list
{
	&__title
	{
		font-family: @font-main-bold;
		font-size: @font-sz-m;
		margin-bottom: @rem * 20;
	}
	&__item
	{
		margin-bottom: @rem * 15;
		&:last-child
		{
			margin-bottom: 0;
		}
	}
	&__item-link
	{
		font-family: @font-main-light;
		font-size: @font-sz-m;
		color: @clr-main;
		transition: @t;
		&:hover
		{
			color: @clr-theme;
		}
	}
}
.footer-main
{
	padding: @rem * 50 @padding-layer-horizontal;
	@media @max-768
	{
		padding: @rem * 30 @padding-layer-horizontal--mobile;
	}
	&__inner
	{
		display: flex;
		justify-content: space-between;
	}
	&__info
	{
		max-width: @rem * 300;
		margin-right: @rem * 50;
		@media @max-768
		{
			margin: 0 auto;
			text-align: center;
			max-width: none;
			width: 100%;
		}
		@media @max-480
		{
			max-width: none;
			width: 100%;
		}
	}
	&__nav
	{
		width: ~"calc(100% - (@{rem} * 350))";
		@media @max-768
		{
			display: none;
		}
	}
}
.footer-sub-banks
{
	display: flex;
	align-items: center;
	@media @max-768
	{
		flex-flow: column;
	}
	&__title
	{
		font-size: @font-sz-m;
		@media @max-768
		{
			margin-bottom: @rem * 15;
		}
	}
	&__list
	{
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	&__list-item
	{
		height: @rem * 20;
		margin-left: @rem * 35;
		text-align: center;
		@media @max-768
		{
			margin: 0 @rem * 10;
			width: 20%;
		}
	}
	&__img
	{
		display: block;
		height: 100%;
		@media @max-768
		{
			width: 100%;
			object-fit: contain;
		}
	}
}
.footer-sub
{
	padding: @rem * 30 0;
	background-color: @clr-gray;
	padding: @rem * 30 @padding-layer-horizontal;
	@media @max-768
	{
		padding: @rem * 20 @padding-layer-horizontal--mobile;
	}
	&__inner
	{
		display: flex;
		align-items: center;
		justify-content: space-between;
		@media @max-768
		{
			flex-flow: column;
		}
	}
	&__copyright
	{
		font-size: @font-sz-m;
		margin-right: @rem * 50;
		@media @max-768
		{
			text-align: center;
			margin-right: 0;
			margin-bottom: @rem * 20;
		}
	}
}
