.header
{
	position: relative;
	z-index: 3;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: @rem * 60;
	margin-bottom: @rem * 70;
	@media @max-768
	{
		padding-top: @rem * 30;
		margin-bottom: @rem * 25;
	}
	&__logo
	{
		display: flex;
		align-items: center;
		@media @max-768
		{
			flex-flow: column;
			justify-content: center;
			width: 100%;
		}
		&-img
		{
			max-width: @rem * 190;
			margin-right: @rem * 20;
			@media @max-768
			{
				margin-right: 0;
				margin-bottom: @rem * 15;
			}
		}
		&-description
		{
			// font-family: @font-main-bold;
			display: flex;
			align-items: center;
			font-size: @rem * 14;
			text-transform: uppercase;
			color: @clr-white;
			@media @max-768
			{
				text-align: center;
			}
			&:before
			{
				content: '';
				width: @rem * 1;
				height: @rem * 24;
				background-color: @clr-white;
				position: relative;
				display: block;
				top: @rem * 0;
				margin-right: @rem * 20;
				opacity: .2;
				@media @max-768
				{
					display: none;
				}
			}
		}
	}
	&__btn
	{
		font-size: @rem * 16;
		text-align: center;
		color: @clr-white;
		border: @rem * 1 solid @clr-white;
		border-radius: @rem * 5;
		padding: @rem * 15 @rem * 20;
		box-sizing: border-box;
		@media @max-768
		{
			display: none;
		}
	}
	&__user
	{
		display: none;
		@media @max-768
		{
			display: block;
			position: absolute;
			top: @rem * 15;
			right: @padding-layer-horizontal--mobile;
			width: @rem * 24;
			height: @rem * 24;
			background-image: url('../img/i-user.svg');
			.bg-settings(center,cover,no-repeat);
		}
	}
}
