html
{
	font-size: @font-sz-base;
	font-family: @font-main-light;
	color: @clr-main;
	@media @max-1024
	{
		font-size: 12px;
	}
	@media @max-768
	{
		font-size: @font-sz-base;
		width: 100%;
		overflow-x: hidden;
	}
}
body
{
	width: 100%;
	overflow-x: hidden;
}
