@font-face
{
	font-family: 'Circe-Light';
	src: url('../fonts/Circe/Circe-Light.eot');
	src: url('../fonts/Circe/Circe-Light.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/Circe/Circe-Light.svg#Circe-Light') format('svg'),
		 url('../fonts/Circe/Circe-Light.ttf') format('truetype'),
		 url('../fonts/Circe/Circe-Light.woff') format('woff'),
		 url('../fonts/Circe/Circe-Light.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}
@font-face
{
	font-family: 'Circe-Bold';
	src: url('../fonts/Circe/Circe-Bold.eot');
	src: url('../fonts/Circe/Circe-Bold.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/Circe/Circe-Bold.svg#Circe-Bold') format('svg'),
		 url('../fonts/Circe/Circe-Bold.ttf') format('truetype'),
		 url('../fonts/Circe/Circe-Bold.woff') format('woff'),
		 url('../fonts/Circe/Circe-Bold.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}
