.download-app
{
	position: relative;
	display: flex;
	align-items: center;
	border: @rem * 2 solid @clr-theme;
	border-radius: @br-m;
	padding: @rem * 15 @rem * 20;
	box-sizing: border-box;
	color: @clr-theme;
	font-family: @font-main-bold;
	transition: @t;
	text-align: left;
	@media @max-768
	{
		justify-content: center;
	}
	&:hover
	{
		background-color: @clr-primary;
		border-color: @clr-primary;
	}
	&__icon
	{
		width: @rem * 45;
		height: @rem * 45;
		margin-right: @rem * 10;
	}
	&__icon-use
	{
		fill: @clr-theme;
	}
	&__info
	{
		display: block;
		font-size: @font-sz-s;
		margin-bottom: @rem * 5;
	}
	&__title
	{
		display: block;
		font-size: @font-sz-l;
	}
}
.input-text
{
	font-size: @rem * 16;
	padding: @rem * 20 @rem * 25;
	box-sizing: border-box;
	background-color: @clr-white;
	border: none;
	outline: none;
	border-radius: @br-s;
	&::placeholder
	{
		color: @clr-main;
	}
}
.btn
{
	font-family: @font-main-bold;
	font-size: @font-sz-m;
	color: @clr-white;
	text-transform: uppercase;
	text-align: center;
	padding: @rem * 25 @rem * 40;
	box-sizing: border-box;
	border-radius: @rem * 35;
	background-color: @clr-theme;
	transition: @t;
	cursor: pointer;
	&:hover
	{
		background-color: @clr-accent;
	}
	&--accent
	{
		background-color: @clr-accent;
		&:hover
		{
			background-color: @clr-theme;
		}
	}
}
.btn-light
{
	font-family: @font-main-bold;
	font-size: @rem * 12;
	text-transform: uppercase;
	color: @clr-white;
	border: @rem * 2 solid @clr-white;
	padding: @rem * 10 @rem * 30;
	box-sizing: border-box;
	border-radius: @rem * 30;
	transition: @t;
	&:hover
	{
		background-color: @clr-accent;
		border: @rem * 2 solid @clr-accent;
	}
}
.checkbox
{
	&__input
	{
		opacity: 0;
		height: 0;
		width: 0;
		position: absolute;
		&:checked
		{
			& + label
			{
				&:after
				{
					display: block;
				}
			}
		}
	}
	&__label
	{
		display: block;
		position: relative;
		font-size: @rem * 13;
		color: @clr-main;
		padding-left: @rem * 34;
		box-sizing: border-box;
		cursor: pointer;
		a
		{
			color: @clr-theme;
		}
		&:before
		{
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			top: 0;
			margin: auto;
			width: @rem * 24;
			height: @rem * 24;
			background-color: @clr-accent;
			border-radius: @br-s;
		}
		&:after
		{
			display: none;
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			top: 0;
			margin: auto;
			width: @rem * 24;
			height: @rem * 24;
			background-color: @clr-accent;
			border-radius: @br-s;
			background-image: url('../img/sprite.svg#mark');
			.bg-settings(center,50%,no-repeat);
		}
	}
}
