@-webkit-keyframes pulsing {

	0%,
	to {
		-webkit-transform: scale(.9, .9);
		transform : scale(.9, .9)
	}

	50% {
		-webkit-transform: scale(1.1, 1.1);
		transform: scale(1.1, 1.1)
	}
}
@keyframes pulsing {

	0%,
	to {
		-webkit-transform: scale(.9, .9);
		transform: scale(.9, .9)
	}

	50% {
		-webkit-transform: scale(1.1, 1.1);
		transform: scale(1.1, 1.1)
	}
}
@-webkit-keyframes waving {
	0%,
	to {
		right: @rem * 50;
	}

	50% {
		right: 0;
	}
}
@keyframes waving {
	0%,
	to {
		right: @rem * 50;
	}

	50% {
		right: 0;
	}
}
