@font-main-light: 'Circe-Light';
@font-main-bold: 'Circe-Bold';

@rem: 1rem / 16;

@font-sz-base: 16px;
@font-sz-s: @rem * 13;
@font-sz-m: @rem * 16;
@font-sz-l: @rem * 20;

@gap: @rem * 30;

@padding-layer-vertical: @rem * 100;
@padding-layer-vertical--mobile: @rem * 40;
@padding-layer-horizontal: 10%;
@padding-layer-horizontal--mobile: 5%;

@path-sprite-svg: '../img/sprite.svg#';
@path-img: '../img/';

@br-s: @rem * 5;
@br-m: @rem * 10;
@br-l: @rem * 15;

@clr-black: #000000;
@clr-white: #ffffff;
@clr-main: #0d1d4a;
@clr-theme: #6435a5;
@clr-accent: #f75db8;
@clr-primary: #ffd304;
@clr-gray: #f1f4f9;

@t: .3s;

@max-1600: ~"(max-width: 1600px)";
@max-1400: ~"(max-width: 1400px)";
@max-1024: ~"(max-width: 1024px)";
@max-768: ~"(max-width: 768px)";
@max-480: ~"(max-width: 480px)";
@min-1921: ~"(min-width: 1921px)";
@min-2561: ~"(min-width: 2561px)";
@min-3841: ~"(min-width: 3841px)";

@max-h-700: ~"(max-height: 700px)";
