.padding-layer
{
	padding: @padding-layer-vertical @padding-layer-horizontal;
	box-sizing: border-box;
	@media @max-768
	{
		padding: @padding-layer-vertical--mobile @padding-layer-horizontal--mobile;
	}
}
.bg-settings(@bg-position,@bg-size,@bg-repeat)
{
	background-position: @bg-position;
	background-size: @bg-size;
	background-repeat: @bg-repeat;
}
.posa
{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
}
