doctype html

html

	head
		meta(charset = 'utf-8')
		meta(name='viewport', content="initial-scale=1.0, width=device-width")
		title Автор24 - Контакты
		link(rel="stylesheet", href="css/bundle.min.css")

	body.template-base
		include views/layouts/layout-1
		include views/template/footer
		include views/template/popups
		script(src="js/bundle.min.js")
