.layout-1
	include ../template/header
	.layout-1__main
		.layout-1__visual
			.layout-1__visual-info
				.layout-1__visual-info-title Привет, мы готовы помочь тебе
				.layout-1__visual-info-text На нашем курсе профессиональный психолог расскажет, как самостоятельно справляться с тревогами и стрессами, вовремя распознавать признаки депрессии и грамотно выстраивать отношения в университете и с собственными родителями. Присоединяйся!
				.layout-1__visual-info-footer
					.layout-1__visual-info-footer-list
						.layout-1__visual-info-footer-list-item#clicker1
							img(src="img/i-like.svg", alt="").layout-1__visual-info-footer-list-item-propertie
							img(src="img/i-like--hover.svg", alt="").layout-1__visual-info-footer-list-item-propertie.layout-1__visual-info-footer-list-item-propertie--hover
							input.layout-1__visual-info-footer-list-item-value#clicker1-value(value='155' disabled)
						.layout-1__visual-info-footer-list-item#clicker2
							img(src="img/i-dislike.svg", alt="").layout-1__visual-info-footer-list-item-propertie
							img(src="img/i-dislike--hover.svg", alt="").layout-1__visual-info-footer-list-item-propertie.layout-1__visual-info-footer-list-item-propertie--hover
							input.layout-1__visual-info-footer-list-item-value#clicker2-value(value='2' disabled)
						.layout-1__visual-info-footer-list-item
							img(src="img/i-share.svg", alt="").layout-1__visual-info-footer-list-item-propertie
							img(src="img/i-share--hover.svg", alt="").layout-1__visual-info-footer-list-item-propertie.layout-1__visual-info-footer-list-item-propertie--hover
							a.layout-1__visual-info-footer-list-item-value(href="#") Поделиться
			a.layout-1__visual-play.wow.bounceIn(href="#popup-1" rel="modal:open")
	img.layout-1-video-prev(src="img/video-prev.png", alt="")
	img.layout-1-gradient-top(src="img/gradient-top.png", alt="")
	img.layout-1-gradient-left(src="img/gradient-left.png", alt="")


.layout-2
	.layout-2__slider
		a.layout-2__slider-item(href="#popup-1" rel="modal:open")
			img.layout-2__slider-item-img(src="img/slide-1.png", alt="")
			.layout-2__slider-item-number Урок 1 из 15
			.layout-2__slider-item-title Скалярное поле, очевидно, однородно соответствует детерминант
		a.layout-2__slider-item(href="#popup-1" rel="modal:open")
			img.layout-2__slider-item-img(src="img/slide-2.png", alt="")
			.layout-2__slider-item-number Урок 1 из 15
			.layout-2__slider-item-title Скалярное поле, очевидно, однородно соответствует детерминант
		a.layout-2__slider-item(href="#popup-1" rel="modal:open")
			img.layout-2__slider-item-img(src="img/slide-3.png", alt="")
			.layout-2__slider-item-number Урок 1 из 15
			.layout-2__slider-item-title Скалярное поле, очевидно, однородно соответствует детерминант
		a.layout-2__slider-item(href="#popup-1" rel="modal:open")
			img.layout-2__slider-item-img(src="img/slide-3.png", alt="")
			.layout-2__slider-item-number Урок 1 из 15
			.layout-2__slider-item-title Скалярное поле, очевидно, однородно соответствует детерминант
	.layout-2__slider-no
		a.layout-2__slider-item.wow.slideInLeft(href="#popup-1" rel="modal:open")
			img.layout-2__slider-item-img(src="img/slide-1.png", alt="")
			.layout-2__slider-item-number Урок 1 из 15
			.layout-2__slider-item-title Скалярное поле, очевидно, однородно соответствует детерминант
		a.layout-2__slider-item.wow.slideInRight(href="#popup-1" rel="modal:open")
			img.layout-2__slider-item-img(src="img/slide-2.png", alt="")
			.layout-2__slider-item-number Урок 1 из 15
			.layout-2__slider-item-title Скалярное поле, очевидно, однородно соответствует детерминант
		a.layout-2__slider-item.wow.slideInLeft(href="#popup-1" rel="modal:open")
			img.layout-2__slider-item-img(src="img/slide-3.png", alt="")
			.layout-2__slider-item-number Урок 1 из 15
			.layout-2__slider-item-title Скалярное поле, очевидно, однородно соответствует детерминант
		a.layout-2__slider-item.wow.slideInRight(href="#popup-1" rel="modal:open")
			img.layout-2__slider-item-img(src="img/slide-3.png", alt="")
			.layout-2__slider-item-number Урок 1 из 15
			.layout-2__slider-item-title Скалярное поле, очевидно, однородно соответствует детерминант
