footer.footer

	.footer-main
		.l-wrap
			.footer-main__inner
				.footer-main__info.footer-info
					a.footer-info__number(href="#") 8-800-100-03-20
					p.footer-info__shedule Работаем по будням с 10:00 до 20:00 по Мск
					a.footer-info__support(href="#") support@avtor24.ru
					a.download-app(href="https://apps.apple.com/ru/app/prepod/id1545908685")
						svg.download-app__icon
							use.download-app__icon-use(href="img/sprite.svg#i-download-app")
						span
							span.download-app__info Будьте всегда на связи
							span.download-app__title Приложение Автор24
				.footer-main__nav.footer-nav
					.footer-nav__item.footer-nav-list
						.footer-nav-list__title Поддержка
						ul.footer-nav-list
							each val in [ 'Telegram', 'Вконтакте', 'Viber', 'Facebook', 'WhatsApp', 'Email']
								li.footer-nav-list__item
									a.footer-nav-list__item-link(href="#")= val
					.footer-nav__item.footer-nav-list
						.footer-nav-list__title Информация
						ul.footer-nav-list
							each val in [ 'Топ экспертов', 'Правила', 'Статьи', 'Помощь', 'Лента заказов', 'Справочники']
								li.footer-nav-list__item
									a.footer-nav-list__item-link(href="#")= val
					.footer-nav__item.footer-nav-list
						.footer-nav-list__title Основные направления
						ul.footer-nav-list
							each val in [ 'Работа онлайн-экспертом', 'Работа репетитором', 'Работа для преподавателей', 'Заработок для студентов', 'Заказ дипломной работы', 'Примеры студенческих работ']
								li.footer-nav-list__item
									a.footer-nav-list__item-link(href="#")= val
					.footer-nav__item.footer-nav-list
						.footer-nav-list__title О компании
						ul.footer-nav-list
							each val in [ 'Отзывы об Автор24', 'Популярные вопросы', 'Партнерская программа', 'Агентствам', 'Карта сайта', 'Контакты']
								li.footer-nav-list__item
									a.footer-nav-list__item-link(href="#")= val

	.footer-sub
		.l-wrap
			.footer-sub__inner
				.footer-sub__copyright © 2012 — 2019 Avtor24 Все права защищены
				.footer-sub-banks
					.footer-sub-banks__title Мы принимаем:
					ul.footer-sub-banks__list
						li.footer-sub-banks__list-item
							img.footer-sub-banks__img(src="img/logo-webmoney.png", alt="")
						li.footer-sub-banks__list-item
							img.footer-sub-banks__img(src="img/logo-yandexmoney.png", alt="")
						li.footer-sub-banks__list-item
							img.footer-sub-banks__img(src="img/logo-mastercard.png", alt="")
						li.footer-sub-banks__list-item
							img.footer-sub-banks__img(src="img/logo-visa.png", alt="")
						li.footer-sub-banks__list-item
							img.footer-sub-banks__img(src="img/logo-qiwi.png", alt="")
