header.header
	.header__logo
		img.header__logo-img(src="img/logo.svg", alt="")
		.header__logo-description Психологическая помощь для студентов
	a.header__btn(href="#") Личный кабинет
	a.header__user(href="#")
