.popup.popup-1#popup-1
	a(href="#" rel="modal:close")
	iframe( src='https://www.youtube.com/embed/6zGQeAWAwJE' title='YouTube video player' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='')
