.layout-1
{
	position: relative;
	overflow: hidden;
	padding: 0 @padding-layer-horizontal 0;
	box-sizing: border-box;
	background: #0D1D4A;
	padding-bottom: @rem * 200;
	@media @max-1400
	{
		padding-bottom: @rem * 100;
	}
	@media @max-768
	{
		padding: 0 @padding-layer-horizontal--mobile 0;
		margin-bottom: @rem * 20;
		padding-bottom: 0;
	}
	&__main
	{

	}
	&__visual
	{
		display: flex;
		align-items: center;
		justify-content: space-between;
		@media @max-768
		{
			flex-flow: column;
		}
		&-info
		{
			width: 50%;
			color: @clr-white;
			@media @max-768
			{
				width: 100%;
				position: relative;
				z-index: 3;
			}
			&-title
			{
				font-family: @font-main-bold;
				font-size: @rem * 60;
				line-height: @rem * 60;
				text-transform: uppercase;
				margin-bottom: @rem * 25;
				@media @max-768
				{
					font-size: @rem * 25;
					line-height: @rem * 25;
					text-align: center;
					margin-bottom: @rem * 15;
				}
			}
			&-text
			{
				font-size: @rem * 16;
				line-height: @rem * 20;
				max-width: @rem * 515;
				margin-bottom: @rem * 35;
				@media @max-768
				{
					font-size: @rem * 12;
					line-height: @rem * 16;
					text-align: center;
					margin-bottom: @rem * 20;
				}
			}
			&-footer
			{
				margin-bottom: @rem * 70;
				&-list
				{
					display: flex;
					@media @max-768
					{
						justify-content: center;
					}
					&-item
					{
						display: flex;
						align-items: center;
						margin-right: @rem * 20;
						font-size: @rem * 16;
						transition: @t;
						cursor: pointer;
						&:last-child
						{
							margin-right: 0;
							&:after
							{
								display: none;
							}
						}
						&::after
						{
							content: '';
							width: @rem * 1;
							height: @rem * 24;
							background-color: @clr-white;
							position: relative;
							display: block;
							top: @rem * 0;
							margin-left: @rem * 20;
							opacity: .2;
							@media @max-768
							{
								margin-left: @rem * 10;
							}
						}
						&:hover
						{
							.layout-1__visual-info-footer-list-item-propertie
							{
								display: none;
							}
							.layout-1__visual-info-footer-list-item-propertie--hover
							{
								display: block;
								transform: rotate(15deg);
								transition: @t;
							}
						}
						&-propertie
						{
							margin-right: @rem * 15;
							transition: @t;
							@media @max-768
							{
								width: @rem * 15;
								margin-right: @rem * 10;
							}
							&--hover
							{
								display: none;
							}
							&:hover
							{

							}
						}
						&-value
						{
							width: @rem * 30;
							background-color: transparent;
							border: none;
							color: @clr-white;
							cursor: pointer;
							@media @max-768
							{
								font-size: @rem * 12;
							}
						}
					}
				}
			}
		}
		&-play
		{
			position: relative;
			z-index: 3;
			display: block;
			width: @rem * 146;
			height: @rem * 146;
			background-image: url(../img/play.png);
			.bg-settings(center,cover,no-repeat);
			margin-right: 15%;
			@media @max-768
			{
				width: @rem * 100;
				height: @rem * 100;
				margin-right: 0;
				bottom: @rem * 30;
			}
		}
	}
}
.layout-2
{
	position: relative;
	z-index: 3;
	margin-top: @rem * -200;
	padding-left: @padding-layer-horizontal;
	box-sizing: border-box;
	// background-image: linear-gradient(#0d1d4a 50%, transparent 50%);
	@media @max-1400
	{
		margin-top: @rem * -100;
	}
	@media @max-768
	{
		padding-left: @padding-layer-horizontal--mobile;
		padding-right: @padding-layer-horizontal--mobile;
		background-image: none;
		margin-top: 0;
	}
	&__slider
	{
		&-item
		{
			display: block;
			position: relative;
			&-img
			{
				display: block;
				width: 100%;
			}
			&-number
			{
				position: absolute;
				top: @rem * 30;
				right: @rem * 30;
				z-index: 1;
				background-color: #FFD304;
				color: #0D1D4A;
				font-size: @rem * 12;
				padding: @rem * 5 @rem * 10;
				border-radius: @rem * 20;
				font-family: @font-main-bold;
			}
			&-title
			{
				position: absolute;
				z-index: 1;
				bottom: @rem * 30;
				left: @rem * 50;
				max-width: @rem * 350;
				color: @clr-white;
				font-size: @rem * 16;
				line-height: @rem * 20;
			}
		}
		@media @max-768
		{
			display: none;
		}
	}
}
.slick-slide
{
	padding: 0 @rem * 20;
	box-sizing: border-box;
}
.slick-list
{
	margin: 0 @rem * -20;
	padding-right: @rem * 100;
}
.layout-2__slider-no
{
	display: none;
	@media @max-768
	{
		display: block;
	}
	.layout-2__slider-item
	{
		display: block;
		margin-bottom: @rem * 15;
	}
}
.layout-1-video-prev
{
	position: absolute;
	z-index: 0;
	top: 0;
	right: 0;
	width: 50vw;
	height: 100%;
	object-fit: cover;
	@media @max-768
	{
		top: auto;
		right: 0;
		bottom: 0;
		left: 0;
		width: 100%;
		height: auto;
		height: @rem * 220;
	}
}
.layout-1-gradient-top
{
	position: absolute;
	z-index: 1;
	top: 0;
	right: 0;
	width: 50vw;
	@media @max-768
	{
		width: 100%;
		top: auto;
		height: @rem * 110;
		bottom: @rem * 110;
	}
}
.layout-1-gradient-left
{
	position: absolute;
	z-index: 1;
	top: 0;
	right: @rem * 10;
	margin: auto;
	width: 50%;
	height: 100%;
	@media @max-768
	{
		display: none;
	}
}
.blocker
{
	z-index: 4;
}
.modal
{
	max-width: none;
}
.popup
{
	display: none;
	iframe
	{
		width: 100%;
		height: 80vh;
		@media @max-768
		{
			height: auto;
		}
	}
}
.slick-arrow
{
	position: absolute;
	z-index: 1;
	right: @padding-layer-horizontal;
	top: @rem * -70;
	width: @rem * 48;
	height: @rem * 48;
	color: transparent;
	overflow: hidden;
	background-color: #fff;
	border-radius: 50%;
	background-image: url('../img/arrow.svg');
	.bg-settings(center,50%,no-repeat);
	border: @rem * 5 solid rgba(255,255,255,0.5);
	cursor: pointer;
	transition: @t;
	@media @max-768
	{
		display: none;
	}
	&:before
	{
		content: '';
		position: absolute;
		z-index: 0;
		width: @rem * 58;
		height: @rem * 58;
	}
	&.slick-prev
	{
		transform: rotate(180deg);
		right: @padding-layer-horizontal + @rem * 58;
		@media @max-1600
		{
			right: @padding-layer-horizontal + @rem * 88;
		}
	}
	&:hover
	{
		background-color: #FFD304;
	}
}
